.main {
  position: absolute;
  top: 127px;
  left: 0;
  right: 0;
  bottom: 75px;
}


body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("/images/google.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
